apiVersion: broker.platform-mesh.io/v1alpha1
kind: Migration
metadata:
  labels:
    app.kubernetes.io/name: resource-broker
    app.kubernetes.io/managed-by: kustomize
  name: migration-sample
spec:
  from:
    - group: rdbms.generic.platform-mesh.io
      version: v1alpha1
      kind: Postgres
  to:
    - group: rdbms.generic.platform-mesh.io
      version: v1alpha1
      kind: Postgres
