---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.2
  name: migrationconfigurations.broker.platform-mesh.io
spec:
  group: broker.platform-mesh.io
  names:
    kind: MigrationConfiguration
    listKind: MigrationConfigurationList
    plural: migrationconfigurations
    singular: migrationconfiguration
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: MigrationConfiguration is the Schema for the migrationconfigurations
          API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: spec defines the desired state of MigrationConfiguration
            properties:
              from:
                description: From indicates the source GVK of the resource to be migrated.
                properties:
                  group:
                    type: string
                  kind:
                    type: string
                  version:
                    type: string
                required:
                - group
                - kind
                - version
                type: object
              stages:
                description: |-
                  Stages defines the ordered list of migration stages to be
                  applied.
                items:
                  description: MigrationStage defines a single stage in a migration
                    process.
                  properties:
                    name:
                      description: |-
                        name is a descriptive name of the migration stage.
                        It will be displayed in logs and status conditions.
                      minLength: 1
                      type: string
                    progress:
                      description: |-
                        progress indicates whether the migration should move from the
                        initial to the cutover phase once the success conditions are met.
                      type: boolean
                    successConditions:
                      description: |-
                        successConditions is a list of CEL expressions that must all be
                        true for the stage to be considered successful.
                        Warning: If empty the resources are deployed and the stage is
                        immediately considered successful in the next reconciliation
                        loop.
                      items:
                        type: string
                      type: array
                    templates:
                      additionalProperties:
                        type: object
                        x-kubernetes-preserve-unknown-fields: true
                      description: |-
                        templates is a map of Kubernetes resource templates of resources
                        to be deployed as part of this migration stage. The key makes the
                        respective resources available to reference in CEL expressions,
                        e.g. in SuccessConditions.
                      type: object
                  required:
                  - name
                  type: object
                type: array
              to:
                description: To indicates the target GVK of the resource to be migrated.
                properties:
                  group:
                    type: string
                  kind:
                    type: string
                  version:
                    type: string
                required:
                - group
                - kind
                - version
                type: object
            required:
            - from
            - to
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
