---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.2
  name: migrationconfigurations.broker.platform-mesh.io
spec:
  group: broker.platform-mesh.io
  names:
    kind: MigrationConfiguration
    listKind: MigrationConfigurationList
    plural: migrationconfigurations
    singular: migrationconfiguration
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: MigrationConfiguration is the Schema for the migrationconfigurations
          API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: spec defines the desired state of MigrationConfiguration
            properties:
              from:
                description: From indicates the source GVK of the resource to be migrated.
                properties:
                  group:
                    type: string
                  kind:
                    type: string
                  version:
                    type: string
                required:
                - group
                - kind
                - version
                type: object
              stages:
                description: |-
                  Stages defines the ordered list of migration stages to be
                  applied.
                items:
                  description: MigrationStage defines a single stage in a migration
                    process.
                  properties:
                    id:
                      description: ID is a unique identifier for the migration stage.
                      type: string
                    templates:
                      description: |-
                        Templates is a list of raw Kubernetes resource templates of
                        resources to be deployed as part of this migration stage.
                      items:
                        type: object
                        x-kubernetes-preserve-unknown-fields: true
                      type: array
                  required:
                  - id
                  type: object
                type: array
              to:
                description: To indicates the target GVK of the resource to be migrated.
                properties:
                  group:
                    type: string
                  kind:
                    type: string
                  version:
                    type: string
                required:
                - group
                - kind
                - version
                type: object
            required:
            - from
            - to
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
