name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: go.mod

      - id: golangci-version
        run: |
          echo version="$(grep '^GOLANGCI_LINT_VERSION' Makefile | cut -d' ' -f3)" >> "$GITHUB_OUTPUT"
      - uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9
        with:
          version: ${{ steps.golangci-version.outputs.version }}

  test:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: go.mod
      - run: make test

  test-e2e:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: go.mod
      - run: make test-e2e

  docker:
    needs: lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        include:
          - image: resource-broker
            dockerfile: Dockerfile
          - image: resource-broker-kcp
            dockerfile: contrib/kcp/Dockerfile
          - image: resource-broker-operator
            dockerfile: cmd/operator/Dockerfile
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
      - uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5
        with:
          images: ghcr.io/platform-mesh/${{ matrix.image }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=sha,format=long,prefix=sha-
            type=raw,value=latest,enable={{is_default_branch}}

      - uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6
        with:
          file: ${{ matrix.dockerfile }}
          tags: ${{ steps.meta.outputs.tags }}
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max
          outputs: |
            type=image,push=${{ github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository }}

  list-examples:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0
      - id: list-examples
        run: |
          {
            echo -n 'examples=['
            find examples -mindepth 1 -maxdepth 1 -type d -printf '"%f",'
            echo -n ']'
          } > "$GITHUB_OUTPUT"
          sed -i 's#,]#]#' "$GITHUB_OUTPUT"
    outputs:
      examples: ${{ steps.list-examples.outputs.examples }}

  examples:
    needs:
      - docker
      - list-examples
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        example: ${{ fromJson(needs.list-examples.outputs.examples) }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: go.mod
      - uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
      - uses: helm/kind-action@a1b0e391336a6ee6713a0583f8c6240d70863de3 # v1
        with:
          # Only install kind without setting up any clusters. Clusters
          # will be created as needed in the examples.
          install_only: true

      # use the gha cache to "transfer" the images built in the previous job to this job
      - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          file: Dockerfile
          tags: resource-broker:dev
          cache-from: type=gha
          push: false
          load: true
      - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          file: contrib/kcp/Dockerfile
          tags: resource-broker-kcp:dev
          cache-from: type=gha
          push: false
          load: true
      - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          file: cmd/operator/Dockerfile
          tags: resource-broker-operator:dev
          cache-from: type=gha
          push: false
          load: true

      - uses: ntnn/mdextract@e5a8798e279b2287fce907b7526dccf90ceeb8f7 # v0.3.0
        with:
          input: ./examples/${{ matrix.example }}/README.md
          output: run.bash
          tags: bash,ci

      - run: bash -xe run.bash

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        if: failure()
        with:
          name: logs-${{ matrix.example }}
          path: |
            *.log
            *.yaml
