name: Examples

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:

  list-examples:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0
      - id: list-examples
        run: |
          {
            echo -n 'examples=['
            find examples -mindepth 1 -maxdepth 1 -type d -printf '"%f",'
            echo -n ']'
          } > "$GITHUB_OUTPUT"
          sed -i 's#,]#]#' "$GITHUB_OUTPUT"
    outputs:
      examples: ${{ steps.list-examples.outputs.examples }}

  run-examples:
    runs-on: ubuntu-latest
    needs:
      - list-examples
    strategy:
      matrix:
        example: ${{ fromJson(needs.list-examples.outputs.examples) }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: go.mod
      - uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
      - uses: helm/kind-action@a1b0e391336a6ee6713a0583f8c6240d70863de3 # v1
        with:
          # Only install kind without setting up any clusters. Clusters
          # will be created as needed in the examples.
          install_only: true

      - name: Ensure TMPDIR exists
        run: mkdir -p ${{ github.workspace }}/tmp

      - name: Running example
        uses: ntnn/mdextract@ae39e0ef04c094b0fc7f8cffba82c73b0527d64a # v0.1.0
        env:
          TMPDIR: ${{ github.workspace }}/tmp
        with:
          input: ./examples/${{ matrix.example }}/README.md
          output: "$TMPDIR/${{ matrix.example }}.bash"
          language: bash

      - run: bash "$TMPDIR/${{ matrix.example }}.bash"
        env:
          TMPDIR: ${{ github.workspace }}/tmp

      - name: Upload logs on failure
        if: failure()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: logs-${{ matrix.example }}
          path: |
            *.log
            *.yaml
