name: Examples

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  list-examples:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
        with:
          fetch-depth: 0
      - id: list-examples
        run: |
          {
            echo -n 'examples=['
            find examples -mindepth 1 -maxdepth 1 -type d -printf '"%f",'
            echo -n ']'
          } > "$GITHUB_OUTPUT"
          sed -i 's#,]#]#' "$GITHUB_OUTPUT"
    outputs:
      examples: ${{ steps.list-examples.outputs.examples }}

  run-examples:
    runs-on: ubuntu-latest
    needs:
      - list-examples
    strategy:
      matrix:
        example: ${{ fromJson(needs.list-examples.outputs.examples) }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version-file: go.mod
      - uses: azure/setup-helm@b9e51907a09c216f16ebe8536097933489208112 # v4.3.0
      - uses: helm/kind-action@a1b0e391336a6ee6713a0583f8c6240d70863de3 # v1
        with:
          # Only install kind without setting up any clusters. Clusters
          # will be created as needed in the examples.
          install_only: true

      - name: Ensure TMPDIR exists
        run: mkdir -p ${{ github.workspace }}/tmp

      - name: Running example
        run: ./examples/${{ matrix.example }}/run.bash
        env:
          TMPDIR: ${{ github.workspace }}/tmp
